/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: 300;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  color: #fff;
}

p {
  line-height: 1.9em;
}

.header {
  /* height: 100vh; */
  height: 100%;
  background: url(../img/home-bg.png) no-repeat center top;
  background-size: cover;
}

.home {
  padding-top: 178px;
  padding-bottom: 70px;
}

.home__logo {
  font-family: "Dancing Script", cursive;
  font-size: 33px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 55px;
}

.home__logo span {
  font-size: 23px;
  display: block;
}

.home__title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: center;
}

.home__line {
  background: #fff;
  height: 2px;
  width: 80px;
  margin: 35px 0;
}

.home__desc {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.home__arrow {
  display: block;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-top: 142px;
}

.about {
  color: #696969;
}

.about__header {
  border-bottom: 1px solid #ebebeb;
  padding: 21px 0;
}

.logo a {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: #696969;
  text-decoration: none;
}

.menu {
}

.menu__item a {
  text-transform: uppercase;
  color: #696969;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
}

.menu__item a:hover {
  border-bottom: 1px solid #d07c7c;
  padding-bottom: 10px;
}

.menu__item:not(:last-child) {
  margin-right: 60px;
}

.about__content {
  text-align: center;
  margin: 0 auto;
  max-width: 760px;
  padding: 142px 0;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #595959;
  text-align: center;
}

.under__line {
  background: #d07c7c;
  height: 2px;
  width: 65px;
  margin: 41px 0;
}

.about__desc {
  font-size: 14px;
  font-weight: 300;
}

.gallery {
}

.gallery-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
  position: relative;
}

.gallery-item:not(.urban) {
  height: 373px;
}

.nature {
  background-image: url("../img/nature.png");
  width: calc(60% - 25px);
  float: left;
}

.urban {
  background-image: url("../img/urban.png");
  width: 40%;
  float: right;
  height: 760px;
}

.gallery-item.people,
.gallery-item.wedding {
  height: 361px;
}

.people {
  background-image: url("../img/people.png");
  width: calc(30% - 25px);
  float: left;
}

.wedding {
  background-image: url("../img/wedding.png");
  width: calc(30% - 25px);
  float: right;
  margin-right: 25px;
}

.architecture {
  background-image: url("../img/archi.png");
  width: calc(60% - 25px);
  float: left;
}

.animals {
  background-image: url("../img/animals.png");
  width: 40%;
  float: right;
}

.gallery-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.gallery-title {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 12px;
}

.gallery-desc {
  font-weight: 400;
  font-size: 16px;
}

.corners {
}

.corners:hover {
  background: linear-gradient(to right, #fff 2px, transparent 2px) 0 0,
    linear-gradient(to right, #fff 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #fff 2px, transparent 2px) 100% 0,
    linear-gradient(to left, #fff 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #fff 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #fff 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #fff 2px, transparent 2px) 0 100%,
    linear-gradient(to top, #fff 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 18px;
  cursor: pointer;
}

.btn-gallery-wrap {
  text-align: center;
  padding: 60px;
}

.btn-gallery {
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d07c7c;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn-gallery:hover {
  background-color: #dd6767;
}

.world__wrap {
  padding: 140px 0;
}

.see-carousel {
  color: #595959;
  max-width: 564px;
  text-align: center;
  margin: 0 auto;
}

.see-carousel blockquote {
  font-size: 18px;
  font-weight: 300;
}

.see-carousel cite {
  font-style: 14px;
}

.slick-dots {
  bottom: -68px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #d07c7c;
  font-size: 16px;
}
